<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="lStyle">
    <h1 style="text-align: center;">Login</h1>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="passsword"></ion-input>
    </ion-item>
    
      <ion-button (click)="signInUser()" expand="block"  shape="round">
        Login
      </ion-button>
  </ion-list>
  <div class="footerContainer">
    <ion-label>Or Sign Up</ion-label>
    <div class="emailConatiner" (click)="goToRegister()">
      <ion-icon name="mail-outline"></ion-icon>
      <span>Email</span>
    </div>
  </div>
</ion-content>
