<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1"  class="tabsStyle">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tabsStyle">
      <ion-icon name="search"></ion-icon>
      <ion-label>Show</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tabsStyle">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
